body{
    margin: 0;
    }

header {
    background-image: linear-gradient(to right, rgb(38, 48, 222) , rgba(198, 70, 70, 0.18));
    height: 50vh;
}

.headitem {

    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    height: 30%;
    margin-bottom: 0px;
    margin-top: 1px;
}

#peace {
    padding-bottom: 50px;
}

header h1{
    font-size: 4em;
}

nav {
    display: flex;
    justify-content: baseline;
}

li {
    display: flex;
    justify-content: space-between;
}

.nitem {
    text-decoration: none;
    color: rgb(38, 48, 222);

}

.navlist {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 3px solid rgb(38, 48, 222);
}

ul{
    list-style-type: none;
}

.navitem {
    padding-bottom: 10px;
    transition: 1s;
    color: rgb(38, 48, 222);
}

.navitem:hover{
    transform: scale(1.3);
}

.button {
    padding: 10px;
    margin: 10px;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 4s infinite linear;
  }

/* index page */



.intropar {
    border: 5px dotted rgb(38, 48, 222);
    margin: 5%;
    padding: 40px;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    line-height: 60px;
}

#heint {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(38, 48, 222), rgb(198, 70, 70, 0.18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;


}

#flag {
    position: relative;
    left: 12%;
    margin: 3%;
    height: 20vh;
    width: 70%;
    /* padding: 30px; */
}

.indimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div img {
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 1s;
}

div img:hover {
    transform: scale(1.2);

}

/* Other Pages */ 

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    line-height: 60px;
    margin: 10px 30px;

}


.info li:hover{
    color: white;
    background-image: linear-gradient(to right, rgb(38, 48, 222) , rgba(198, 70, 70, 0.18));
    font-size: 1.5em;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(38, 48, 222);
    padding: 10px;
    margin: 30px;
    margin-right: 30px;
    margin-left: 30px;
}


/* image section */ 

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: 1s;
}

.images img:hover {
    transform: scale(1.2);
}

/* footer */

#foot {
    height: 20vh;
    background-image: linear-gradient(to right, rgb(38, 48, 222) , rgba(198, 70, 70, 0.18));
}

#finf {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: white;
    font-size: 40px;

}

.ftext {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}

